* {
  box-sizing: border-box;
}

section {
  padding: 60px 0;
}

.hero .hero_bg{
  height: 110vh;
}

.hero .hero_bg{
  @media screen and (min-width:1440px) {
      height:80vh;
  }

}


